<div class="d-flex justify-content-evenly align-content-center flex-wrap mb-3">
    <div class="w-50 menu-card">
        <a href="../pages/image_colors.html">
            <div class="card text-bg-success mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title"><span data-i18n="navbar.image_colors">Image Colors</span></h5>
                </div>
            </div>
        </a>

    </div>
    <div class="w-50 menu-card">
        <a href="../pages/product_cost.html">
            <div class="card text-bg-success mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title"><span data-i18n="navbar.product_cost">Product Costs</span></h5>
                </div>
            </div>
        </a>
    </div>
    <div class="w-50 menu-card">
        <a href="../pages/power_cost.html">
            <div class="card text-bg-success mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title"><span data-i18n="navbar.power_cost">Power Costs</span></h5>
                </div>
            </div>
        </a>
    </div>
    <div class="w-50 menu-card">
        <a href="../pages/csv_to_json.html">

            <div class="card text-bg-success mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title"><span data-i18n="navbar.csv_to_json">CSV to JSON</span></h5>
                </div>
            </div>
        </a>
    </div>
    <div class="w-100 menu-card">
        <a href="../pages/json_to_csv.html">

            <div class="card text-bg-success mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title"><span data-i18n="navbar.json_to_csv">JSON to CSV</span></h5>
                </div>
            </div>
        </a>
    </div>
</div>